/******************************************************************************
  Если не работает JS
*******************************************************************************/
.nojs .preloader {
	display: none;
}

.nojs #toTop, .nojs .quickview, .nojs .filters-price #goods-filter-price-slider {
	display: none;
}

.nojs .owl-carousel {
	display: block;
}

.nojs .scriptOff {
	display: none;
}

.nojs .popular__item {
	width: calc(33.333333% - 2rem);
}

.nojs .advantages__item {
	width: calc(33.333333% - 2rem);
}