/*** Избранное, Сравнение, В коризну, Уведомить, Нет в наличии ***/
[class^="add-"]:after {font-family: 'icomoon';line-height: 1;}
[class^="add-"] span {display: none;}
.add-compare, .add-favorites, .quickview {color: #231803;}
.add-compare:hover, .add-favorites:hover, .quickview:hover {color: #36928a;}
.add-compare.added, .add-favorites.added {color: #36928a;}
.add-favorites:after {content: '\e922';}
.add-compare:after {content: '\e91e';}
.add-cart:after, .add-mod:after {content: "\e91b";}
.add-notify:after {content: "\e914";}


/*** Товары таблицей ***/
.products__grid {display: flex;flex-wrap: wrap;align-items: center;}
.product__item {margin: 0 0 2rem 0;padding: 0 1rem;width: 33.333333%;position: relative;}
.product__item.empty .product__img {opacity: 0.3;}
.product__image {margin-bottom: 1rem;position: relative;}
.product__image .product__img {height: 260px;position: relative;overflow: hidden;display: flex;align-items: center;justify-content: center;}
.product__image img {max-width: 100%;max-height: 100%;width: auto;}
.product__shop {text-align: center;}
.product__name {margin-bottom: 1rem;height: 60px;max-height: 60px;display: block;overflow: hidden;}
.product__name:hover {color: #f5a883;}
.product__price {margin-bottom: 1rem;padding: .5rem 0;border: 1px solid #ecdfd4;border-left: 0;border-right: 0;}
.product__price .price__old {margin-right: .5rem;}
.available__false {color: #f58683;}
.available__true {color: #b07bcf;}
.products__grid .product__addto {padding: 1rem 0 .5rem 0;background-color: rgba(236,223,212,0.8);display: flex;align-items: center;justify-content: center;flex-wrap: wrap;transition: all 0.3s ease;}
.product__addto a {margin: 0 .5rem;width: 44px;height: 44px;font-size: 24px;background-color: #FFFFFF;display: flex;align-items: center;justify-content: center;}
.product__addto a:hover, .product__addto a.added {background-color: #ffaf88;color: #FFFFFF;}
.product__links {display: flex;align-items: center;}
.product__ratings {margin-top: .5rem;width: 100%;text-align: center;}
.product__ratings .ratings:before {font-size: 12px;color: #231803;}
.product__ratings .ratings .rating:before {font-size: 12px;}
.product__available {font-size: 14px;}
@media (min-width: 1200px) {
.page-favorites .product__item {width: 25%;}
}
@media (min-width: 992px) {
.products__grid .product__addto {opacity: 0;width: 200px;margin: 0 auto;position: absolute;right: 0;left:0;bottom: -3.5rem;}
.products__grid .product__item:hover .product__addto {opacity: 1;bottom: .5rem;}
}
@media (max-width: 1199.98px) {
.product__item {width: 33.333333%;}
}
@media (max-width: 991.98px) {
.products__grid .product__addto {padding: .5rem 0;}
.product__addto	.product__ratings {display: none;}
.product__addto a {background-color: #fff8ef;margin: 0 .25rem;}
.product__image .product__img {height: 200px;}
}
@media (max-width: 767.98px) {
.product__image .product__img {height: 170px;}
}
@media (max-width: 639.98px) {
.product__item {width: 50%;}
}
@media (max-width: 479.98px) {
.product__item {width: 100%;}
.product__name {height: auto;}
}


/*** Товары списком ***/
.products__list {display: flex;flex-wrap: wrap;align-items: center;}
.products__list .product__item {margin: 0 0 2rem 0;width: 50%;position: relative;}
.products__list .product__item form {display: flex;flex-wrap: wrap;align-items: flex-start;}
.products__list .product__image {margin: 0;}
.products__list .product__image a {width: 180px;height: 180px;}
.products__list .product__image img {max-width: 100%;max-height: 100%;}
.products__list .product__shop {width: calc(100% - 180px);padding-left: 1rem;text-align: left;position: relative;}
.products__list .product__available {margin-bottom: .25rem;}
.products__list .product__ratings {position: absolute;right: 0;top: 0;width: auto;margin-top: -2px;}
.products__list .product__name {height: 40px;}
.products__list .product__addto {margin-bottom: 1rem;display: flex;flex-wrap: wrap;}
.products__list .product__addto a {font-size: 24px;background-color: #fff8ef;margin: 0 .25rem;}
.products__list .product__addto a:hover, .products__list .product__addto a.added {background-color: #ffaf88}
.products__list .product__price {text-align: center;margin-bottom: 0;}
@media (max-width: 991.98px) {
.products__list .product__item {width: 100%;}
}
@media (max-width: 479.98px) {
.products__list .product__image {width: 100%;margin-bottom: 1rem;}
.products__list .product__image a {width: 100%;height: 260px;}
.products__list .product__shop {width: 100%;padding-left: 0;}
.products__list .product__name {height: auto;}
}


/*** Товары из категорий на главной ***/
.products__gridSmall {display: flex;flex-wrap: wrap;align-items: center;}
.products__gridSmall .product__item form {display: flex;flex-wrap: wrap;}
.products__gridSmall .product__item .product__image {margin-bottom: 0;}
.products__gridSmall .product__item .product__image .product__img {width: 100px;height: 100px;}
.products__gridSmall .product__item .product__image img {max-width: 100%;max-height: 100%;width: auto;}
.products__gridSmall .product__item .product__ico {display: none;}
.products__gridSmall .product__item .product__shop {width: calc(100% - 100px);padding-left: 1rem;text-align: left;position: relative;overflow: hidden;}
.products__gridSmall .product__item .product__name {max-height: 60px;}
.products__gridSmall .product__item .product__price {border: 0;padding: 0;margin: 0;}
.products__gridSmall .product__item .product__links {height: 0;position: absolute;bottom: -3rem;left: .75rem;width: 100%;background-color: #ffffff;transition: all 0.3s ease-in-out;}
.products__gridSmall .product__item:hover .product__links {height: auto;bottom: 0;}
.products__gridSmall .product__item .product__links a {font-size: 20px;margin: 0 .25rem;width: 40px;height: 40px;background-color: #fff4f2;display: flex;align-items: center;justify-content: center;}
.products__gridSmall .product__item .product__links a:hover, .products__gridSmall .product__item .product__links a.added {background-color: #ffaf88;color: #FFFFFF;}
.products__gridSmall .product__available {display: none;}
@media (max-width: 991.98px) {
.products__gridSmall .product__item {width: 50%;}
.products__gridSmall .product__item .product__links {height: auto;bottom: 0;position: relative;left: -.25rem;margin-top: 1rem;}
.products__gridSmall .product__name {height: auto;}
}
@media (max-width: 479.98px) {
.products__gridSmall .product__item {width: 100%;}
}

/*** Иконки Новинка, Хит, Скидка ***/
.product__ico {position: absolute;max-width: 20px;top: 0;left: 0;display: flex;align-items: center;flex-wrap: wrap;justify-content: flex-end;z-index: 2;}
.product__ico label {display: none;}
.product__ico span {width: 20px;height: auto;line-height: 14px;font-size: 12px;margin-bottom: .5rem;padding: .25rem;text-align: center;border-radius: 0;text-transform: uppercase;display: flex;align-items: center;justify-content: center;}
.product__ico span:last-child {margin-bottom: 0;}
.ico__sales {background: #df5642;color: #ffffff;display: none !important;}
.ico__sale {background: #ffaf88;}
.ico__sale:before {content: 's a l e';}
.ico__best {background: #e9c4ff;}
.ico__best:before {content: 'h i t';}
.ico__new {background: #c5ffd1;}
.ico__new:before {content: 'n e w';}

/*** Изображения в слайдере ***/
.owl-carousel .product__item {width: 100%;margin: 0;padding: 0;}