/*** Страница: Просмотр акции ***/
.promotion__content {
	text-align: center;
	margin: 0 0 2rem 0;
}

.promotion__title strong {
	margin: 0 0.5rem;
}

.promotion__text {
	margin-top: 1rem;
}

.promotion__content .promotion__date {
	margin-top: 1rem;
	color: #23261d;
}


/*** Страница: Список акций ***/
.page-discount .row .products__grid {
	margin-top: -2rem;
}

.promotion__item {
	margin: 2rem 1rem 0 1rem;
	width: calc(33.333333% - 2rem);
	text-align: center;
	position: relative;
}

.promotion__item a {
	color: #ffffff;
}

.promotion__item a:hover {
	color: #ffbb3e;
}

.promotion__item.empty {
	opacity: .6;
}

.promotion__inner {
	padding: 2rem;
	height: 26rem;
	border-radius: 1rem;
	background-image: url("{ASSETS_IMAGES_PATH}sale.jpg?design=THEMENAME");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: all 0.3s ease;
}

.promotion__item:hover .promotion__inner:before {
	content: '';
	background-color: rgba(35, 38, 29, 0.6);
	border-radius: 1rem;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.promotion__name {
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
}

.promotion__date {
	font-size: 1.125rem;
	font-weight: 600;
	color: #ffffff;
	position: relative;
	text-transform: uppercase;
}

.promotion__percentage {
	margin-top: 3rem;
	position: relative;
}

.promotion__percentage {
	font-size: 2rem;
	font-weight: bold;
}

.promotion__empty {
	text-transform: uppercase;
}

@media (max-width: 991.98px) {
	.promotion__item {
		width: calc(50% - 2rem);
	}
}

@media (max-width: 479.98px) {
	.promotion__item {
		width: 100%;
	}
}