/*** Страница: Корзина ***/
.pageCart .cart {display: none;}
.pageCart .cart__count {display: none;}
.cartTable.disable .cart__qty:before {content: "";display: block;width: 100%;height: 60px;z-index: 2;position: absolute;}
.cartTable.disable .cart__qty a,
.cartTable.disable .cart__qty input,
.cartTable.disable .cart__qty .qty {background-color: #d2d9cd;border-color: #d2d9cd;}
.cartTable.disable .cart__delete {display: none;}
.cartTable.disable .cart__clear {display: none;}
#makeOrder {display: none;}
.cartTable.disable #makeOrder {display: inline-block;}
.cartTable {position: relative;display: flex;flex-wrap: wrap;align-items: flex-start;}
.cartInner {width: calc(100% - 22.5rem);padding-right: 2rem;overflow: hidden;}
.cart__head {margin-bottom: 1rem;display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;}
.cart__head a {color: #d2d9cd;display: flex;align-items: center;}
.cart__head a:hover {color: #6aa344;}
.cart__head a i {margin: 0 .5rem;}
.cart__head a span {margin: 0 .125rem;}
@media (max-width: 479.98px) {
	.cart__head a span + span {	display: none;}
}
.cart__item {margin-top: 2rem;padding: 1rem;border: 1px solid #d2d9cd;border-radius: 1rem;background-color: #ffffff;display: flex;flex-wrap: wrap;align-items: center;position: relative;}
.cart__image {width: 6rem;height: 6rem;display: flex;align-items: center;justify-content: center;}
.cart__image img {border-radius: 1rem;}
.cart__info {padding: 0 1rem;width: calc(100% - 6rem - 12rem - 12rem);overflow: hidden;}
.cart__art, .cart__prop {color: #d2d9cd;font-size: .875rem;margin-top: .25rem;}
.cart__prop-item {display: flex;flex-wrap: wrap;align-items: center;}
.cart__prop-label, .cart__art-label {margin-right: .5rem;}
.cart__actions {display: flex;flex-wrap: wrap;align-items: center;}
.cart__price {width: 12rem;padding: 0 1rem;text-align: center;}
.cart__price .price__now {font-size: 1.5rem;font-weight: bold;color: #ffbb3e;}
.cart__price .price__old {font-size: .75rem;color: #d2d9cd;margin-top: .5rem;}
.cart__qty {width: 12rem;}
.cart__qty a {font-size: .75rem;}
.cart__delete {position: absolute;right: -1rem;width: 2rem;height: 2rem;background-color: #ffffff;border: 1px solid #d2d9cd;border-radius: 100%;font-size: .75rem;color: #d2d9cd;display: flex;align-items: center;justify-content: center;}
.cartTotal {width: 22.5rem;background-color: #ffffff;border-radius: 1rem;position: sticky;top: 0;}
.total__head {background-color: #ffbb3e;border-radius: 1rem 1rem 0 0;color: #ffffff;padding: 2rem;display: flex;flex-wrap: wrap;align-items: center;}
.total__head-icon {width: 5rem;height: 5rem;font-size: 4.5rem;color: #ffdd9f;}
.total__head-title {padding-left: 1rem;width: calc(100% - 5rem);}
.total__head-label {font-size: 1.5rem;font-weight: bold;text-transform: uppercase;}
.total__head-count {margin-top: .5rem;}
.total__items {padding: .5rem 1.5rem 0 1.5rem;}
.total__item {margin-top: 1rem;display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;}
.total__label {padding-right: .5rem;}
.total__cart {padding-bottom: 1rem;font-weight: bold;text-transform: uppercase;border-bottom: 1px solid #d2d9cd;}
.total__buttons {padding: 1.5rem 1.5rem .5rem 1.5rem;display: flex;flex-direction: column;}
.total__buttons a {margin-bottom: 1rem;}
.total__pp {display: none;}
.cartTable.disable .total__pp {display: block;}
.total__pp a {text-decoration: underline;}

#globalOrder {margin-top: 4rem;}
#globalOrder .total__buttons {display: none;}
#globalOrder .total__pp {margin-top: 1rem;}
#closeOrder {display: none;}
@media (max-width: 1199.98px) {
	.cartInner {width: 100%;padding: 0 1rem 2rem 0;}
	.cartTotal {width: 100%;}
}
@media (max-width: 991.98px) {
	.cart__info {width: calc(100% - 6rem - 12rem - 10rem);}
	.cart__qty {width: 10rem;}
}
@media (max-width: 767.98px) {
	.cart__info {width: calc(100% - 6rem);padding-right: 0;}
	.cart__actions {margin-top: 1rem;}
	.cart__price {width: auto;order: 2;}
}
@media (max-width: 479.98px) {
	.cart__price {width: 100%;padding: 1rem 0 0 0;text-align: left;display: flex;align-items: center;}
	.cart__price .price__old {margin: 0 0 0 1rem;}
	.total__head {padding: 1rem;}
	.total__head-icon {width: 4rem;height: 4rem;font-size: 3rem;}
	.total__head-title {width: calc(100% - 4rem);}
}