/*** Товар ***/
.productView {display: flex;flex-wrap: wrap;}
.productView__imageBox {width: 448px;position: relative;}
.productView__image {width: 448px;height: 448px;display: flex;align-items: center;justify-content: center;}
.productView__image img {max-width: 100%;max-height: 100%;}
.thumblist {margin-top: 1rem;}
.thumblist__item a {width: 100px;height: 100px;display: flex;align-items: center;justify-content: center;}
.productView__shop {width: calc(100% - 448px);padding-left: 2rem;position: relative;}
.productView__available {margin-bottom: 1rem;}
.productView__ratings {margin-bottom: 1rem;display: flex;flex-wrap: wrap;align-items: center;}
.productView__ratings .ratings__label {margin-left: 1rem;}
.productView__name {display: none;}
.productView__price {margin: 1rem 0;}
.productView__price .price__now {font-size: 26px;font-weight: 600;}
.productView__price .price__old {margin-right: 1rem;font-size: 18px;}
.productView__articles {margin-bottom: .5rem;color: #c1b1a9;position: absolute;top: 0;right: 0;}
.productView__campaign {margin-bottom: 2rem;background-color: #ffaf88;color: #ffffff;padding: 1rem 3rem;font-size: 18px;text-align: center;box-shadow: -10px 10px 0px 0px #ffe0d1;display: inline-block;}
.productView__campaign > span {display: block;}
.productView__text {margin-bottom: 1rem;}
/* Модификации */
.goodsModificationsBlock {display: flex;flex-wrap: wrap;align-items: center;}
.goodsModificationsProperty {margin: 0 1rem 1rem 1rem;width: calc(50% - 2rem);flex-grow: 1;}
.goodsModificationsProperty .selectBox .select {background-color: #ffffff;}
.goodsModificationsProperty .selectBox:after {background-color: #ffffff;}
.goodsModificationsProperty label {font-size: 14px;color: #c1b1a9;display: block;margin-bottom: .25rem;}
.goodsModDescription {padding: 0 1rem 2rem 1rem;}
/* Добавить в корзину */
.productView__addto {display: flex;flex-wrap: wrap;align-items: center;}
.productView__addto .button {line-height: 48px;margin: 0 1rem 1rem 1rem;flex-grow: 1;}
.productView__addto [class^="add-"]:after {display: none;}
.productView__addto [class^="add-"] span {display: block;}
/* Добавить в Избр Сравн */
.productView__links [class^="add-"]:after {display: block;}
.productView__links [class^="add-"] span {display: none;}
.productView__links {display: flex;flex-wrap: wrap;margin: 0 1rem 1rem 1rem;}
.productView__links a {width: 50px;height: 50px;font-size: 24px;background-color: #fff8ef;display: flex;align-items: center;justify-content: center;}
.productView__links a:hover, .productView__links a.added {background-color: #ffaf88;color: #FFFFFF;}
.productView__links a + a {margin-left: .5rem;}
/* Нет в наличии */
.productView__addto .add-notify {display: none;}
.productView__notify .add-notify span {display: block;}
.productView__notify .add-notify:after {display: none}
.empty .productView__addto .add-notify {display: inline-block;}
.empty .productView__addto .add-cart {display: none;}
@media (max-width: 1199.98px) {
.empty .productView__addto .button {flex-basis: auto;}
}
@media (max-width: 991.98px) {
.productView__imageBox {width: 100%;}
.productView__image {width: 100%;height: auto;}
.productView__shop {width: 100%;padding: 2rem 0 0 0;}
.page-goods #page__title .block__title {display: none;}
.productView__name {display: block;margin-bottom: 1rem;}
.productView__articles {position: relative;margin-bottom: 1rem;}
}
@media (max-width: 767.98px) {
.productView__addto .button {flex-basis: 50%;}
}
@media (max-width: 479.98px) {
.goodsModificationsProperty {width: 100%;}
.productView__qty, .productView__links {margin-right: 0;}
.productView__addto .button {flex-basis: 30%;padding: 0;}
.empty .productView__addto .button {margin-left: 1rem;}
}

/* Товар: Табы */
.productView__tabs {margin-top: 2rem;}
.tabs__nav {padding: 10px;background-color: #fff4f2;display: flex;align-items: center;justify-content: center;}
.tabs__nav {display: flex;flex-wrap: nowrap;overflow-y: auto;}
.tabs__nav::-webkit-scrollbar {width: 0;height: .5rem;}
.tabs__nav::-webkit-scrollbar-thumb {background-color: #ffae89;}
.tabs__nav::-webkit-scrollbar-track {background-color: #ebded6;}
.tab {height: 40px;margin: 0 .5rem;padding: 0 1rem;font-size: 18px;display: flex;align-items: center;justify-content: center;transition: all 0.3s ease;}
.tab:hover, .tab.active {color: #FFFFFF;background-color: #ffaf88;cursor: pointer;}
.tabs__content {position: relative;padding: 2rem 0;}
.tabs__content > div {display: none;}
.tabs__content > .active {display: block;}
@media (max-width: 639.98px) {
.tabs__nav {justify-content: flex-start;}
}
/* Товар: Характеристики */
.features__items {display: flex;flex-wrap: wrap;}
.features__item {margin: 0 1rem 1rem 1rem;width: calc(50% - 2rem);padding-bottom: .25rem;border-bottom: 1px solid #ecdfd4;position: relative;display: flex;flex-wrap: nowrap;justify-content: space-between;align-items: flex-end;}
.features__name {width: 50%;color: #c1b1a9;}
.features__value {width: 50%;}
@media (max-width: 639.98px) {
.features__item {width: 100%;}
}

/* Товар: Доставка */
.delivery__items {display: flex;flex-wrap: wrap;}
.delivery__item {width: 50%;margin-bottom: 2rem;}
.delivery__name {font-size: 18px;font-weight: bold;margin-bottom: 1rem;}
.delivery__index {margin-right: 2rem;width: 40px;height: 40px;line-height: 40px;font-size: 18px;color: #ffffff;background-color: #ffaf88;box-shadow: -5px 5px 0 0 #ffe0d1;text-align: center;display: inline-block;}
.delivery__text {margin-bottom: 1rem;word-break: break-all;}
.delivery__price strong {margin-left: 4px;}
.zone__open {display: flex;align-items: center;font-size: 1rem;font-weight: bold;margin-top: 1rem;}
.zone__open:after {content: "\e915";font-family: 'icomoon';font-size: 1rem;margin-left: 1rem;line-height: 1;}
.zone__open.active:after {content: "\e918";}
.zone__list {display: none;}
.zone__list > div {margin-top: 1rem;}
.zone__list .delivery__name {margin-bottom: 0.5rem;}
.zone__list .zone__price {margin-top: 0.25rem;}
@media (max-width: 639.98px) {
.delivery__item {width: 100%;}
}
/* Товар: Отзывы */
.opinion__content {display: flex;flex-wrap: wrap;align-items: flex-start;}
.opinion__round {margin-bottom: 2rem;width: 100%;display: flex;flex-wrap: wrap;align-items: center;}
.rating__value {width: 60px;height: 60px;line-height: 60px;font-size: 26px;color: #ffffff;background-color: #ffaf88;box-shadow: -5px 5px 0 0 #ffe0d1;text-align: center;display: inline-block;}
.rating__roundRatings {margin-left: 2rem;}
.rating__roundRatings .rating__label {margin-top: .5rem;}
.rating__roundRatings .ratings:before {font-size: 20px;}
.rating__roundRatings .ratings .rating:before {font-size: 20px;}
/* Отзывы: Список */
.opinion__items {width: calc(100% - 360px);padding-right: 2rem;}
.opinion__item {margin-bottom: 2rem;display: flex;flex-wrap: wrap;align-items: center;}
.opinion__text {width: 100%;margin-top: .5rem;padding-top: 1rem;border-top: 1px solid #ecdfd4}
.opinion__text > div + div {margin-top: .5rem;}
.opinion__name {margin-right: 2rem;font-weight: 600;display: inline-block;text-overflow: ellipsis;overflow: hidden;max-width: 50%;}
.opinion__date {color: #c1b1a9;font-size: 14px;}
.opinion__ratings {flex-grow: 1;text-align: right;}
.opinion__delete {margin-top: .5rem;}
/* Отзывы: Добавление */
.opinion__addForm {width: 360px;padding: 1rem;background-color: #fff4f2;overflow: hidden;position: sticky;top: 0;}
.opinion__label {text-align: center;font-size: 18px;font-weight: bold;}
.opinion__labelText {text-align: center;font-size: 14px;margin-top: .5rem;}
.opinion__form {margin-top: .5rem;border-top: 1px solid #ecdfd4;}
.opinion__block {margin-bottom: 1rem;}
.opinion__block.rating .goodsOpinionRating {width: 120px;margin: 1rem auto;}
.opinion__block label {display: none;}
.opinion__block input {padding-left: 60px;}
.opinion__block textarea {padding-left: 60px;}
.opinion__block textarea + i {height: 100%;}
.captcha__image {position: absolute;top: 0;right: 0;height: 40px;}
.captcha__refresh {position: absolute;top: .75rem;right: 4rem;cursor: pointer;}
.captcha__refresh:hover {color: #df5642;}
.opinion__captcha {position: relative;}
.opinion__captcha input {padding: 0 5rem 0 1rem;}
.opinion__block .button {width: 100%;}
@media (max-width: 991.98px) {
.opinion__items {width: 100%;padding: 0;}
.opinion__addForm {width: 100%;position: relative;}
}
@media (max-width: 479.98px) {
.opinion__name {width: 100%;max-width: 100%;margin: 0 0 .5rem 0;}
}

/* Сопутствующие и С этим товаром смотрят */
.related > div + div {margin-top: 2rem;}
.related .block__nav {padding: 1.25rem;}
.owl-carousel .owl-item img {max-width: 100%;max-height: 100%;width: auto;}


/*** Быстрый просмотр ***/
.fancybox-content .quick {display: none;}
.fancybox-content .productView__notify {}
.fancybox-content .productView__notify .add-notify {width: 100%;margin: 0;}
.productViewQuick .productView__more {display: block;width: 100%;text-align: center;margin-top: 1rem;}
.productViewQuick .productView__name {display: block;}
.productViewQuick .thumblist__item a {width: 100px;height: 100px;}
.productViewQuick .thumblist__item img {max-width: 100px;max-height: 100px;}
/*** Добавление модификации товара ***/
.productViewMod {max-width: 348px;padding: 1rem;border: 5px solid #f8e9e6;}
.productViewMod .productView__name {display: block;padding-right: 1rem;}
.productViewMod .productView__articles {display: none !important;}
.productViewMod .productView__available {display: none;}
.productViewMod .productView__imageBox {display: none;}
.productViewMod .productView__campaign {display: none;}
.productViewMod .productView__shop {width: 100%;padding: 0;}
.productViewMod .productView__addto .button {margin: 0 1rem;}
.productViewMod .productView__ratings {display: none;margin: 0;width: 100%;}
.productViewMod .ratings__total {display: none;}
.productViewMod .ratings__label {display: none;}
.productViewMod .productView__text {display: none;}
.productViewMod .productView__campaign div {padding: 1rem 2rem;}
.productViewMod .goodsModificationsProperty {width: 100%;}
@media all and (max-width: 1199.98px) {
.productViewQuick .productView__more a {white-space: normal;line-height: 1.5;padding: 1rem;}
}
@media all and (max-width: 479px) {
.fancybox-content .productView__price .price__old {display: block;margin: 1rem 0 0 0;width: 100%;}
.fancybox-content .productView__articles + .productView__available {width: 100%;margin: 1rem 0 0 0;}
}

