
/*** Слайдшоу ***/
#slideshow {height: 29.5rem;overflow: hidden;position: relative;}
/* Слайдер */
.slider.owl-carousel.owl-loaded {display: flex;}
.slider.owl-carousel {width: calc(100% - 24.5rem);justify-content: center;}
.slider__item {height: 29.5rem;border-radius: 1.25rem;background-repeat: no-repeat;background-size: cover;display: block;}
.slider__content {height: 100%;padding: 2.5rem;text-align: right;position: relative;z-index: 2;}
.slider__button {border-radius: 1.25rem;text-transform: uppercase;}
.slider__title {margin-top: 1rem;color: #ffffff;font-size: 2rem;font-weight: bold;text-transform: uppercase;}
.slider__subtitle {margin-top: .5rem;color: #ffffff;font-size: 1.25rem;}
/* Слайдер. Баннеры */
.slider__banners {width: 22.5rem;margin-left: 2rem;}
.slider__banner {height: 13.75rem;border-radius: 1.25rem;background-size: cover;background-repeat: no-repeat;display: block;}
.slider__banner + .slider__banner {margin-top: 2rem;}
.slider__banner .slider__content {padding: 1.25rem;}
.slider__banner .slider__title {font-size: 1.25rem;}
.slider__banner .slider__button {padding: 0 1rem;}
/* Слайдер. Навигация */
#slideshow .owl-dots {bottom: 2.5rem;padding: .5rem 1rem;background-color: #ffffff;border-radius: 1.25rem;display: inline-block;position: absolute;}
#slideshow .owl-nav {}
#slideshow .owl-nav [class^="owl-"] {color: #d2d9cd;background-color: #f0f7f5;width: 2rem;height: 3.75rem;top: 50%;position: absolute;}
#slideshow .owl-nav [class^="owl-"]:hover {color: #6aa344;}
#slideshow .owl-prev {border-radius: 0 2rem 2rem 0;}
#slideshow .owl-prev:before {margin-right: .75rem;}
#slideshow .owl-next {border-radius: 2rem 0 0 2rem;}
#slideshow .owl-next:before {margin-left: .75rem;}


/*** Популярное ***/
.popular__items {display: flex;flex-wrap: wrap;align-items: flex-start;}
.popular__item {width: calc(33.333333% - 2rem);margin: 0 1rem;display: flex;justify-content: center;position: relative;}
.popular__title {color: #ffffff;font-size: 1.25rem;font-weight: bold;text-transform: uppercase;position: absolute;bottom: 1rem;transition: all 0.3s ease;}
.popular__item:hover .popular__title {font-size: 1.5rem;}
.popular__image {display: block;}


/*** Баннеры ***/
.banners__items {display: flex;flex-wrap: wrap;align-items: flex-start;}
.banners__item {width: calc(50% - 2rem);margin: 0 1rem;height: 15rem;background-size: cover;background-repeat: no-repeat;}
.banners__content {color: #ffffff;height: 100%;padding: 1.25rem;position: relative;z-index: 2;display: flex;flex-direction: column;align-items: flex-end;justify-content: flex-end;}
.banners__title {font-size: 1.5rem;font-weight: bold;text-transform: uppercase;transition: all 0.3s ease;}
.banners__title:hover {color: #ffbb3e;}
.banners__subtitle {margin-top: .5rem;font-size: 1.25rem;}


/*** Описание на главной ***/
.index__content {padding: 2rem;background-color: #ffffff;border-radius: 1.25rem;}
.index__content h1 {font-size: 1.75rem;}


/*** Преимущества ***/
#advantages {margin-top: 6rem;}
.advantages__items {display: flex;flex-wrap: wrap;align-items: flex-start;}
.advantages__item {width: calc(33.333333% - 2rem);margin: 0 1rem;position: relative;}
.advantages__content {padding: 3rem 1rem 1.5rem 1rem;background-color: #ffffff;border-radius: 1rem;text-align: right;}
.advantages__title {font-size: 1.25rem;font-weight: bold;}
.advantages__subtitle {margin-top: .75rem;}
.advantages__icon {font-size: 3.5rem;color: #ffffff;background-color: #6aa344;border-radius: 50%;width: 6rem;height: 6rem;position: absolute;left: 1rem;top: -3.5rem;display: flex;align-items: center;justify-content: center;}

/*** Возникли вопросы? ***/
.callback__index .inner {padding: 2rem;background-color: #ffbb3e;border-radius: 1.25rem;align-items: center;}
.callback__index .callback__icon {width: 10rem;}
.callback__index .callback__icon i {color: #ffdd9f;font-size: 7.5rem;transform: rotate(45deg);display: inline-block;}
.callback__index .callback__content {width: calc(100% - 10rem);color: #ffffff;}
.callback__index .callback__title {margin-bottom: 1rem;font-size: 1.5rem;font-weight: bold;text-transform: uppercase;}
.callback__index .callback__subtitle {margin-bottom: 1rem;font-weight: 600;}
.callback__index .form__button {padding: 0 3rem;border-radius: 1.5rem;top: .25rem;right: .25rem;line-height: 2.75rem;position: absolute;}
.callback__index input {height: 3.5rem;border-radius: 1.5rem;border: 0;padding: 0 13rem 0 2rem;}
.callback__index .form__pp {text-align: right;}
.callback__index .form__pp a {color: #ffffff;}
/*** Подпишитесь ***/
#subscribe .inner {background-color: #6aa344;}
#subscribe .callback__icon i {color: #b5d1a2;transform: rotate(0);}









