/*** Страница: Просмотр акции ***/
.promotion__container {margin: 0 0 2rem 0;padding: 2rem;background-color: #ffffff;border-radius: 1rem;display: flex;flex-wrap: wrap;}
.promotion__icon i {font-size: 6rem;color: #db5c77;}
.promotion__content {width: calc(100% - 6rem);padding-left: 2rem;}
.promotion__block {margin-top: 1rem;display: flex;flex-wrap: wrap;align-items: center;}
.promotion__title {font-size: 1.5rem;font-weight: bold;text-transform: uppercase;}
.promotion__block-subtitle {margin-right: 2rem;}
.promotion__percentage {font-size: 3rem;font-weight: bold;color: #db5c77;}
.promotion__text {margin-top: 1rem;width: 100%;}
.promotion__content .promotion__date {margin-top: .5rem;color: #23261d;}
@media (max-width: 479.98px) {
	.promotion__container {padding: 1rem;}
	.promotion__content {width: 100%;	padding: 0;}
	.promotion__icon {margin: 0 auto 1rem;}
}

/*** Страница: Список акций ***/
.page-discount .row .products__grid {margin-top: -2rem;}
.promotion__item {margin: 2rem 1rem 0 1rem;width: calc(33.333333% - 2rem);text-align: center;position: relative;}
.promotion__item a {color: #ffffff;}
.promotion__item a:hover {color: #ffbb3e;}
.promotion__item.empty {opacity: .6;}
.promotion__inner {padding: 2rem;height: 26rem;border-radius: 1rem;background-image: url("{ASSETS_IMAGES_PATH}sale.jpg?design=THEMENAME");background-repeat: no-repeat;background-size: cover;background-position: center center;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: space-between;position: relative;transition: all 0.3s ease;}
.promotion__item:hover .promotion__inner:before {content: '';background-color: rgba(35, 38, 29, 0.6);border-radius: 1rem;width: 100%;height: 100%;top: 0;left: 0;position: absolute;}
.promotion__name {font-size: 1.5rem;font-weight: bold;text-transform: uppercase;position: relative;}
.promotion__date {font-size: 1rem;font-weight: 600;color: #ffffff;position: relative;text-transform: uppercase;}
.promotion__item .promotion__percentage {position: relative;font-size: 2rem;font-weight: bold;color: #ffffff;margin-top: 2rem;}
.promotion__empty {text-transform: uppercase;}
@media (max-width: 991.98px) {
	.promotion__item {width: calc(50% - 2rem);}
}

@media (max-width: 479.98px) {
	.promotion__item {width: 100%;}
}