/*** Избранное, Сравнение, В коризну, Уведомить, Нет в наличии ***/
[class^="add-"]:after {
	font-family: 'icomoon';
	line-height: 1;
}

[class^="add-"] span {
	display: none;
}

.add-compare, .add-favorites, .quickview {
	color: #231803;
}

.add-compare:hover, .add-favorites:hover, .quickview:hover {
	color: #36928a;
}

.add-compare.added, .add-favorites.added {
	color: #36928a;
}

.add-favorites:after {
	content: '\e91f';
}

.add-compare:after {
	content: '\e91c';
}

.add-cart:after, .add-mod:after {
	content: "\e919";
}

.add-notify:after {
	content: "\e915";
}


/*** Товары таблицей ***/
.products__grid {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.row .products__grid {
	margin-top: -1rem;
}

.product__item {
	margin: 3rem 1rem 1rem 1rem;
	width: calc(25% - 2rem);
	position: relative;
}

.product__item form {
	height: 100%;
	padding: 1rem;
	border: 1px solid #d2d9cd;
	border-radius: 1rem;
	background-color: #ffffff;
	transition: all 0.3s ease;
}

.product__item:hover form {
	border-color: #6aa344;
}

.products__grid .product__image {
	margin-bottom: 1rem;
	position: relative;
}

.product__image .product__img {
	height: 14.125rem;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product__image img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
}

.product__shop {
	text-align: center;
}

.product__name {
	margin-bottom: 1rem;
	max-height: 4rem;
	line-height: 1.325rem;
	display: block;
	overflow: hidden;
}

.product__price {
	margin: 0 auto 1.5rem;
	max-width: 80%;
	max-height: 6rem;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.product__price [class^="price__"] {
	padding: .875rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product__price .price__now {
	padding: 0 0 0 .75rem;
}

.product__price.hasOldPrice {
	max-width: 100%;
	background-color: #e9f9de;
	border-radius: 1.5rem;
}

.product__price-addto {
	max-height: 3rem;
	padding: .75rem 1rem;
	color: #ffffff;
	background-color: #ffbb3e;
	border-radius: 1.5rem;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.product__price-addto:hover {
	background-color: #6aa344;
	cursor: pointer;
}

.product__price-addto a {
	color: #ffffff;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

.product__price-addto span {
	display: flex;
}

.product__price-addto .hide {
	display: none;
}

.product__price-addto [class^="add-"]:after {
	display: none;
}

.product__links {
	width: calc(100% - 2rem);
	position: absolute;
	bottom: -1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product__links a {
	margin: 0 .25rem;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.25rem;
	color: #6aa344;
	background-color: #ffffff;
	border: 1px solid #6aa344;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product__links a:hover, .product__links a.added {
	color: #ffffff;
	background-color: #6aa344;
}

.product__links .add-cart:after, .product__links .add-mod:after {
	content: '\e91a';
}

.product__links .add-notify:after {
	content: '\e918';
}

.product__links .add-notify {
	background-color: #db5c77;
}

@media (min-width: 1200px) {
	.page-favorites .product__item {
		width: calc(25% - 2rem);
	}
}

@media (min-width: 1200px) {
	.hasSidebar .product__item {
		width: calc(33.333333% - 2rem);
	}
}
@media (max-width: 1199.98px) {
	.product__item {
		width: calc(33.333333% - 2rem);
	}

	.owl-carousel .product__image .product__img {
		height: 15.875rem;
	}
}

@media (max-width: 991.98px) {
	.owl-carousel .product__image .product__img {
		height: 11.25rem;
	}

	.product__price .price__old {
		padding: .5rem;
	}
}

@media (max-width: 767.98px) {
	.owl-carousel .product__image .product__img {
		height: 16rem;
	}

	.product__price {
		height: auto
	}
}

@media (max-width: 639.98px) {
	.product__item {
		width: calc(50% - 2rem);
	}

	.product__price {
		height: auto
	}

	.owl-carousel .product__image .product__img {
		height: 11.25rem;
	}
}

@media (max-width: 479.98px) {
	.product__item {
		width: 100%;
	}

	.product__price {
		height: auto;
	}
}

.products__list .product__item {
	width: calc(100% - 3.25rem);
	margin-top: 2rem;
}

.products__list .product__item form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.products__list .product__image .product__img {
	width: 8rem;
	height: 8rem;
}

.products__list .product__image img {
	border-radius: 1rem;
}

.products__list .product__ico {
	justify-content: flex-start;
	top: -.625rem;
	left: 9.5rem;
	width: auto;
}

.products__list .product__shop {
	width: calc(100% - 8rem);
	padding-left: 1rem;
	text-align: left;
}

.products__list .product__links {
	top: .5rem;
	right: -1.5rem;
	left: auto;
	bottom: auto;
	width: auto;
	flex-direction: column;
	align-items: flex-end;
}

.products__list .product__links a {
	margin: .25rem;
}

.products__list .product__price {
	margin: 0;
	width: 16rem;
	justify-content: flex-start;
}

.products__list .product__price-addto {
	max-width: 11rem;
}

.products__list .product__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.products__list .product__qty {
	margin-right: 1rem;
}

@media (max-width: 767.98px) {
	.products__list .product__qty {
		margin: 0 0 1rem 0;
		width: 100%;
		flex-grow: 1;
	}
}

@media (max-width: 479.98px) {
	.products__list .product__image {
		width: 100%;
	}
	.products__list .product__shop {
		width: 100%;
		padding: 1rem 0 0 0;
	}
	.products__list .product__image .product__img {
		width: 100%;
		height: 14.625rem;
	}
	.products__list .qty {
		width: 100%;
	}
	.products__list .qty input {
		width: calc(100% - 6rem);
	}
}






/*** Иконки Новинка, Хит, Скидка ***/
.product__ico {
	position: absolute;
	top: -1.75rem;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.product__ico label {
	display: none;
}

.product__ico span {
	color: #ffffff;
	line-height: 14px;
	font-size: 12px;
	margin: 0 .25rem;
	padding: .25rem 1rem;
	border-radius: 1.5rem;
	text-transform: lowercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ico__sales {
	background: #df5642;
	color: #ffffff;
	display: none !important;
}

.ico__sale {
	background: #ffbb3e;
}

.ico__sale:before {
	content: 'sale';
}

.ico__best {
	background: #db5c77;
}

.ico__best:before {
	content: 'hit';
}

.ico__new {
	background: #6aa344;
}

.ico__new:before {
	content: 'new';
}

/*** Изображения в слайдере ***/
.owl-carousel .product__item {
	width: 100%;
	height: calc(100% - 1.75rem);
	margin: .75rem 0 1rem 0;
	padding: 0;
}

