/*** Категории товаров ***/
.categories__list {display: flex;flex-wrap: wrap;align-items: center;}
.categories__item {margin: 0 1rem 2rem 1rem;width: calc(25% - 2rem);position: relative;}
.categories__image {height: 260px;display: flex;align-items: center;justify-content: center;}
.categories__image img {width: auto;max-width: 100%;max-height: 100%;}
.categories__item:hover .categories__image {opacity: .3;}
.categories__name {margin: -30px auto 0;padding: 0 1rem;width: calc(100% - 4rem);height: 60px;background-color: #fff4f2;overflow: hidden;text-align: center;position: relative;display: flex;align-items: center;justify-content: center;transition: all 0.3s ease;}
.categories__item:hover .categories__name {background-color: #df5642;color: #FFFFFF;}
.categories__name a {padding: .5rem;text-align: center;display: block;width: 100%;}
.categories__name span {display: block;max-height: 40px;text-overflow: ellipsis;overflow: hidden;}
@media (min-width: 1200px) {
.hasSidebar .categories__item {width: calc(33.333333% - 2rem);}
}
@media (max-width: 1199.98px) {
.categories__item {width: calc(33.333333% - 2rem);}
}
@media (max-width: 991.98px) {
.categories__image {height: 214px;}
}
@media (max-width: 767.98px) {
.categories__item {width: calc(50% - 2rem);}
}
@media (max-width: 639.98px) {
.categories__image {height: 204px;}
.categories__name {width: 100%;left: 0;}
}
@media (max-width: 479.98px) {
.categories__item {width: 100%;}
}