/*** Товар ***/
.page-goods #page__title .block__title {
	display: none;
}

.productView {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.productView__imageBox {
	width: calc(50% - 1rem);
	margin-right: 1rem;
	padding: 1rem;
	background-color: #ffffff;
	border-radius: 1rem;
	position: relative;
}

.productView__image {
	width: 100%;
	height: 32.5rem;
	min-height: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.productView__image img {
	max-width: 100%;
	max-height: 100%;
}

.productView__image .product__ico {
	top: -.75rem;
}

.thumblist {
	margin-top: 1rem;
}

.thumblist__item a {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.productView__shop {
	width: calc(50% - 1rem);
	margin: 2rem 0 0 1rem;
	padding: 1rem 1rem 2rem 1rem;
	background-color: #ffffff;
	border-radius: 1rem;
	position: relative;
}

.productView__inner {
	margin: 1rem 0;
	padding: 1rem 0;
	border-bottom: 1px solid #d2d9cd;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.productView__available {
}

.productView__ratings {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.productView__ratings .ratings__label {
	margin-left: 1rem;
}

.productView__name {
	margin-bottom: 2rem;
}

.productView__price {
	margin: 2rem 0;
}

.productView__price .price__now {
	font-size: 1.625rem;
	font-weight: bold;
	color: #6aa344;
}

.productView__price .price__old {
	margin-right: 1rem;
	font-size: 1rem;
}

.productView__articles {
	color: #b6bfb0;
}

.productView__campaign {
	background-color: #db5c77;
	border-radius: 3rem;
	color: #ffffff;
	padding: .5rem 6rem .5rem 2rem;
	min-height: 3.5rem;
	top: -2rem;
	left: 1rem;
	position: absolute;
	text-align: left;
	display: inline-block;
}

.productView__campaign-name {
	display: none;
}

.productView__campaign-date {
	font-weight: bold;
}

.productView__campaign-discount {
	position: absolute;
	top: 0.25rem;
	right: 0.25rem;
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	background-color: #ffffff;
	color: #db5c77;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.productView__text {
	margin-bottom: 2rem;
}

/* Модификации */
.goodsModificationsBlock {
	margin: 0 0 1rem 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.goodsModificationsProperty {
	margin: 0 1rem 1rem 1rem;
	width: calc(50% - 2rem);
	flex-grow: 1;
}

.goodsModificationsProperty .selectBox .select {
	background-color: #ffffff;
}

.goodsModificationsProperty .selectBox:after {
	background-color: #ffffff;
}

.goodsModificationsProperty label {
	font-size: 14px;
	color: #c1b1a9;
	margin-bottom: .25rem;
	display: none;
}

.goodsModDescription {
	padding: 0 1rem 2rem 1rem;
}

/* Добавить в корзину */
.productView__addto {
	padding: 0 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.productView__addto .button {
	line-height: 3rem;
	flex-grow: 1;
	z-index: 2;
}

.productView__addto .button i {
	margin-right: .5rem;
	font-size: 1.25rem;
	vertical-align: middle;
}

.productView__addto .button.quick {
	padding: 0 4.75rem;
	margin-left: -3rem;
	z-index: 1;
}

.productView__addto [class^="add-"]:after {
	display: none;
}

.productView__addto [class^="add-"] span {
	display: inline-block;
	vertical-align: middle;
}

.productView__qty {
	margin: 0 1rem 0 0;
}


/* Добавить в Избр Сравн */
.productView__links [class^="add-"]:after {
	display: block;
}

.productView__links [class^="add-"] span {
	display: none;
}

.productView__links {
	top: -2rem;
	right: 1rem;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
}

.productView__links a {
	margin: 0 .25rem;
	width: 3.5rem;
	height: 3.5rem;
	font-size: 1.5rem;
	color: #6aa344;
	background-color: #ffffff;
	border: 1px solid #6aa344;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.productView__links a:hover, .productView__links a.added {
	color: #ffffff;
	background-color: #6aa344;
}

/* Нет в наличии */
.productView__addto .add-notify {
	display: none;
}

.productView__notify .add-notify span {
	display: block;
}

.productView__notify .add-notify:after {
	display: none
}

.empty .productView__addto .add-notify {
	display: inline-block;
}

.empty .productView__addto .add-cart {
	display: none;
}


@media (max-width: 1199.98px) {
	.empty .productView__addto .button {
		flex-basis: auto;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.productView__addto .button.quick {
		margin: 1rem 0 0 0;
	}
}

@media (max-width: 991.98px) {
	.productView__imageBox {
		width: 100%;
	}

	.productView__image {
		width: 100%;
		height: auto;
	}

	.productView__shop {
		width: 100%;
		margin: 4rem 0 0 0;
	}

	.productView__name {
		display: block;
		margin-bottom: 1rem;
	}

	.productView__articles {
		position: relative;
	}
}

@media (max-width: 639.98px) {
	.productView__addto .button.quick {
		margin: 1rem 0 0 0;
	}
}

@media (max-width: 479.98px) {
	.goodsModificationsProperty {
		width: 100%;
	}

	.empty .productView__addto .button {
		width: 100%;
		margin-top: 1rem;
	}

	.productView__shop {
		padding-top: 2rem;
	}


	.productView__inner {
		margin-top: 0;
		flex-direction: column;
		align-items: flex-start;
	}

	.productView__campaign {
		padding-right: 4rem;
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
	}

	.productView__available {
		margin-top: 1rem;
	}

	.productView__articles {
		margin-top: 1rem;
	}

	.productView__addto .button {
		width: 100%;
	}

	.productView__qty {
		margin: 0 0 1rem 0;
		width: 100%;
	}
	.productView__qty .qty {
		width: 100%;
	}

	.productView__qty input {
		width: calc(100% - 6rem);
	}

}

/* Товар: Табы */
.productView__tabs {
	margin-top: 2rem;
}

.tabs__nav {
	background-color: #ffffff;
	border-radius: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	overflow-y: auto;
}

.tabs__nav::-webkit-scrollbar {
	width: 0;
	height: .5rem;
}

.tabs__nav::-webkit-scrollbar-thumb {
	background-color: #6aa344;
}

.tabs__nav::-webkit-scrollbar-track {
	background-color: #ebded6;
}

.tab {
	height: 3rem;
	padding: 0 2.5rem;
	border-radius: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.tab:hover, .tab.active {
	color: #ffffff;
	background-color: #6aa344;
	cursor: pointer;
}

.tabs__content {
	position: relative;
	padding: 2rem 0;
}

.tabs__content > div {
	display: none;
}

.tabs__content > .active {
	display: block;
}

@media (max-width: 639.98px) {
	.tabs__nav {
		justify-content: flex-start;
	}
}

/* Товар: Описание */
.productView__description {
	padding: 2rem;
	background-color: #ffffff;
	border-radius: 1.5rem;
}

/* Товар: Характеристики */
.features__items {
	display: flex;
	flex-wrap: wrap;
}

.features__item {
	margin: 0 1rem 1rem 1rem;
	padding: 1rem 2rem;
	background-color: #ffffff;
	border-radius: 2rem;
	width: calc(50% - 2rem);
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.features__name {
	width: 50%;
}

.features__value {
	width: 50%;
	font-weight: bold;
}

@media (max-width: 767.98px) {
	.features__item {
		width: 100%;
	}
}

/* Товар: Доставка */
.delivery__items {
	display: flex;
	flex-wrap: wrap;
}

.delivery__item {
	width: 100%;
	padding: 2rem;
	background-color: #ffffff;
	border-radius: 1.5rem;
	margin-bottom: 2rem;
}

.delivery__name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 1rem;
}

.delivery__index {
	display: none;
}

.delivery__text {
	margin-bottom: 1rem;
	word-break: break-all;
}

.delivery__price strong {
	margin-left: 4px;
}

.delivery__item .delivery__price {
	margin: 0;
}

.zone__open {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1rem;
}

.zone__open:after {
	content: "\e934";
	font-family: 'icomoon';
	font-size: .75rem;
	margin-left: 1rem;
	line-height: 1;
}

.zone__open.active:after {
	content: "\e935";
}

.zone__list {
	display: none;
}

.zone__list > div {
	margin-top: 1rem;
}

.zone__list .delivery__name {
	margin-bottom: 0.75rem;
}

.zone__list .zone__price {
	margin-top: 0.25rem;
}

@media (max-width: 639.98px) {
	.delivery__item {
		width: 100%;
	}
}

/* Товар: Отзывы */
.opinion__content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.opinion__round {
	margin-bottom: 2rem;
	color: #ffffff;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between
}

.opinion__round i {
	font-size: 3rem;
	color: rgba(255, 255, 255, 0.4);
	margin-right: 2rem;
}

.rating__value {
	margin-right: 2rem;
	font-size: 2.75rem;
	font-weight: bold;
	line-height: 1;
}

.rating__roundValue {
	padding: .5rem 2rem;
	background-color: #ffbb3e;
	border-radius: 1rem;
	width: calc(50% - 1rem);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.rating__addOpinion {
	padding: .5rem 2rem;
	background-color: #6aa344;
	border-radius: 1rem;
	width: calc(50% - 1rem);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.rating__addOpinion {
	font-size: 1.25rem;
	font-weight: bold;
}

/* Отзывы: Список */
.opinion__items {
	width: 100%;
}

.opinion__item {
	margin-bottom: 2rem;
	padding: 2rem;
	background-color: #ffffff;
	border-radius: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.opinion__text {
	width: 100%;
	margin-top: .75rem;
	padding-top: 1rem;
	border-top: 1px solid #d2d9cd;
}

.opinion__text > div + div {
	margin-top: .5rem;
}

.opinion__name {
	margin-right: 2rem;
	font-weight: 600;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 50%;
}

.opinion__date {
	color: #b6bfb0;
	flex-grow: 1;
	text-align: right;
}

.opinion__ratings {
	flex-grow: 1;
	text-align: left;
	line-height: 1;
}

.opinion__delete {
	margin-top: .5rem;
}

/* Отзывы: Добавление */
.opinion__addForm {
	width: 100%;
	padding: 1rem;
	background-color: #fff4f2;
	overflow: hidden;
	position: sticky;
	top: 0;
}

.opinion__label {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.opinion__labelText {
	text-align: center;
	font-size: 14px;
	margin-top: .5rem;
}

.opinion__form {
	margin-top: .5rem;
	border-top: 1px solid #d2d9cd;
}

.opinion__block {
	margin-bottom: 1rem;
}

.opinion__block.rating .goodsOpinionRating {
	width: 120px;
	margin: 1rem auto;
}

.opinion__block label {
	display: none;
}

.opinion__block input {
	padding-left: 60px;
}

.opinion__block textarea {
	padding-left: 60px;
}

.opinion__block textarea + i {
	height: 100%;
}

.captcha__image {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
}

.captcha__refresh {
	position: absolute;
	top: .75rem;
	right: 4rem;
	cursor: pointer;
}

.captcha__refresh:hover {
	color: #df5642;
}

.opinion__captcha {
	position: relative;
}

.opinion__captcha input {
	padding: 0 5rem 0 1rem;
}

.opinion__block .button {
	width: 100%;
}

@media (max-width: 991.98px) {
	.opinion__items {
		width: 100%;
		padding: 0;
	}

	.opinion__addForm {
		width: 100%;
		position: relative;
	}

	.rating__roundValue {
		width: 100%;
	}

	.rating__addOpinion {
		width: 100%;
		margin-top: 2rem;
	}

}

@media (max-width: 479.98px) {
	.opinion__name {
		width: 100%;
		max-width: 100%;
		margin: 0 0 .5rem 0;
	}

	.rating__label {
		width: 100%;
		margin-top: 1rem;
	}
}

/* Сопутствующие и С этим товаром смотрят */
.related > div + div {
	margin-top: 2rem;
}

.related .block__nav {
	padding: 1.25rem;
}

.owl-carousel .owl-item img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
}


/*** Быстрый просмотр ***/
.fancybox-content .quick {
	display: none;
}

.fancybox-content .productView__notify {
}

.fancybox-content .productView__notify .add-notify {
	width: 100%;
	margin: 0;
}

.productViewQuick .productView__more {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 1rem;
}

.productViewQuick .productView__name {
	display: block;
}

.productViewQuick .thumblist__item a {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.productViewQuick .thumblist__item img {
	max-width: 100px;
	max-height: 100px;
}

/*** Добавление модификации товара ***/
.productViewMod {
	max-width: 386px;
}

.productViewMod .productView {
	padding: 1rem;
}

.productViewMod .productView + button {
	display: none;
}

.productViewMod .productView__name {
	display: block;
	padding-right: 1rem;
}

.productViewMod .productView__articles {
	display: none !important;
}

.productViewMod .productView__available {
	display: none;
}

.productViewMod .productView__imageBox {
	display: none;
}

.productViewMod .productView__campaign {
	display: none;
}

.productViewMod .productView__shop {
	width: 100%;
	padding: 0;
	margin: 0;
}

.productViewMod .productView__inner {
	display: none;
}

.productViewMod .productView__links {
	display: none;
}

.productViewMod .productView__addto .button {
	margin: 0;
}

.productViewMod .productView__ratings {
	display: none;
	margin: 0;
	width: 100%;
}

.productViewMod .ratings__total {
	display: none;
}

.productViewMod .ratings__label {
	display: none;
}

.productViewMod .productView__text {
	display: none;
}

.productViewMod .productView__campaign div {
	padding: 1rem 2rem;
}

.productViewMod .goodsModificationsProperty {
	width: 100%;
}

@media all and (max-width: 1199.98px) {
	.productViewQuick .productView__more a {
		white-space: normal;
		line-height: 1.5;
		padding: 1rem;
	}
}

@media all and (max-width: 479px) {
}

