
/*** Слайдшоу ***/
#slideshow {height: 450px;overflow: hidden;position: relative;}
#slideshow .container {position: relative;}
.slider__item {height: 450px;display: flex;align-items: center;background-position: top center;}
.slider__subtitle {font-size: 20px;}
.slider__title {font-size: 28px;font-weight: 800;display: block;margin-bottom: 2rem;}
.slider__content {width: 560px;margin-left: 4rem;position: relative;}
.slider__content:before {content: '';background-color: #F8E9E6;width: 150px;height: 150px;position: absolute;top: -10px;left: -10px;display: block;z-index: 1;}
.slider__content:after {content: '';background-color: #F8E9E6;width: 150px;height: 150px;position: absolute;bottom: -10px;right: -10px;display: block;z-index: 1;}
.slider__inner {padding: 2rem;background-color: #fff8ef;position: relative;z-index: 2;}
.slider__button {font-size: 18px;position: relative;display: flex;align-items: center;}
.slider__button:before {content: '';background-color: #f8e9e6;width: 60px;height: 50px;display: block;position: absolute;z-index: 1;transition: all 0.3s ease;}
.slider__button:hover:before {width: 140px;}
.slider__button span {z-index: 2;padding-left: 1.5rem;}
#slideshow .owl-nav {right: 2rem;bottom: 2rem;width: 102px;}
#slideshow .owl-nav:before {display: none;}
#slideshow .owl-nav .count {padding: 0 .5rem;margin: 0 .5rem;border: 1px solid #ecdfd4;border-top: 0;border-bottom: 0;}
@media (max-width: 1199.98px) {
#slideshow {height: 360px;}
.slider__item {height: 360px;}
.slider__content {margin-left: 2rem;}
}
@media (max-width: 991.98px) {
.slider__subtitle {font-size: 16px;}
.slider__title {font-size: 24px;}
.slider__content {width: 480px;}
}
@media (max-width: 639.98px) {
#slideshow {height: 310px;}
.slider__subtitle {font-size: 14px;}
.slider__title {font-size: 20px;}
.slider__item {height: 310px;align-items: flex-end;background-size: contain;background-repeat: no-repeat;}
.slider__content {margin-left: 1rem;padding-bottom: 1rem;width: calc(100% - 2rem);}
}
@media (max-width: 479.98px) {
#slideshow {height: 280px;}
.slider__item {height: 280px;}
.slider__inner {padding: 1rem 1rem 2rem 1rem;}
.slider__button {display: none;}
.slider__title {margin-bottom: 1rem;}
#slideshow .owl-nav {bottom: 1rem;}
}

/*** Категории на главной ***/
#catalog .owl-carousel {display: flex;max-height: 335px;overflow: hidden;}
.owl-carousel.owl-loaded .categories__item {width: 100%;margin: 0;}
#catalog .owl-dots {margin-top: 1.5rem;width: 100%;}
@media (max-width: 479.98px) {
#catalog .categories__image {height: 128px;}
}

/*** Баннеры ***/
.banners__items {width: 50%;height: 500px;}
.banners__items:nth-child(1) {padding-right: 1rem;}
.banners__items:nth-child(2) {padding-left: 1rem;}
.banners__item {width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;position: relative;display: flex;align-items: center;justify-content: center;}
.banners__item:before {content: '';background-color: rgba(255,255,255,0.7);opacity: 0;display: block;width: 100%;height: 100%;position: absolute;transition: all 0.3s ease;}
.banners__item:hover:before {opacity: 1;}
.banners__content {padding: 1rem;background-color: #fff8ef;text-align: center;position: relative;display: flex;align-items: center;justify-content: center;}
.banners__title {font-size: 20px;}
.banners__title strong {font-size: 28px;font-weight: 800;}
.banners__title span {display: block;}
.banners__item[data-item="2"] {height: calc(50% - 1rem);margin-bottom: 2rem;align-items: flex-end;justify-content: flex-end;}
.banners__item[data-item="3"] {height: calc(50% - 1rem);margin-top: 2rem;align-items: flex-end;justify-content: flex-start;}
.banners__item[data-item="1"] .banners__content {width: 200px;height: 200px;box-shadow: 10px 10px 0px 0px #ffdcca;}
.banners__item[data-item="2"] .banners__content {padding: 1rem 3rem;box-shadow: -10px -10px 0px 0px #ffdcca;}
.banners__item[data-item="3"] .banners__content {padding: 1rem 3rem;box-shadow: 10px -10px 0px 0px #ffdcca;}
@media (max-width: 991.98px) {
.banners__title {font-size: 16px;}
.banners__title strong {font-size: 24px;}
.banners__item[data-item="2"] .banners__content {padding: 1rem;}
.banners__item[data-item="3"] .banners__content {padding: 1rem;}
}
@media (max-width: 767.98px) {
.banners__items:nth-child(1) {width: 100%;padding: 0 0 2rem 0;height: auto;}
.banners__items:nth-child(2) {width: 100%;height: 392px;padding: 0;}
.banners__item {height: 180px;}
.banners__item[data-item="1"] {align-items: flex-end;justify-content: flex-start;}
.banners__item[data-item="1"] .banners__content {padding: 1rem;width: 340px;height: auto;box-shadow: 10px -10px 0px 0px #ffdcca;}
.banners__item[data-item="1"] .banners__title span {display: inline;}
}
@media (max-width: 639.98px) {
.banners__title {font-size: 14px;}
.banners__title strong {font-size: 20px;}
}


/*** Описание на Главной ***/
#index .inner {align-items: center;}
.index__left {width: 50%;}
.index__right {width: 50%;padding-left: 1rem;}
.index__image {position: relative;width: 500px;height: 300px;}
.index__image:before {content: '';background-color: #F8E9E6;width: 50%;height: 80%;position: absolute;top: -1rem;left: -1rem;display: block;z-index: 1;}
.index__image:after {content: '';background-color: #F8E9E6;width: 80%;height: 70%;position: absolute;bottom: -1rem;right: -1rem;display: block;z-index: 1;}
.index__image img {z-index: 2;position: relative;}
@media (max-width: 1199.98px) {
.index__image {width: 430px;height: 260px;}
}
@media (max-width: 991.98px) {
.index__left {display: none;}
.index__right {width: 100%;padding-left: 0;}
}



/*** Новости ***/
#news [class^="news_list_"] {display: none;flex-wrap: wrap;height: 278px;overflow: hidden;}
#news [class^="news_list_"].active {display: flex;}
#news .block__nav-bottom {display: none;}
#news .owl-nav {display: none;}
#news .owl-nav.active {display: block;}
#news .news__item {width: 50%;position: relative;display: flex;justify-content: flex-end;}
#news .owl-loaded .news__item {width: 100%;}
#news .news__image {position: absolute;top: 0;left: 0;width: 320px;height: 250px;display: flex;align-items: center;justify-content: center;}
#news .news__content {width: 290px;margin-top: 3rem;padding: 0 10px 10px 0;position: relative;}
#news .news__content:before {content:'';width: 80%;height: 80%;position: absolute;right: 0;bottom: 0;background-color: #f8e9e6;z-index: 1;}
#news .news__inner {height: 220px;padding: 1rem;background-color: #fff8ef;position: relative;z-index: 2;}
#news .news__date {margin-bottom: 1rem;color: #c1b1a9;font-size: 14px;}
#news .news__date i {margin-right: .5rem;color: #df5642;}
#news .news__title {margin-bottom: 1rem;font-weight: 800;max-height: 2.5rem;display: block;overflow: hidden;}
#news .news__text {margin-bottom: 1rem;max-height: 3.75rem;display: block;overflow: hidden;}
#news .news__more {margin-bottom: 1rem;}
@media (max-width: 991.98px) {
#news .news__content {width: 95%;margin-top: -2rem;}
#news .news__item {flex-wrap: wrap;}
#news .news__image {position: relative;top: auto;left: auto;width: 100%;}
#news [class^="news_list_"] {height: auto;}
}
@media (max-width: 639.98px) {
#news .news__content {margin-top: 0;}
#news .news__inner {height: auto;}
}
@media (max-width: 479.98px) {
#news .block__nav {width: 100%;}
#news .nav__tabs {width: 100%;}
#news .block__nav .owl-nav.active {display: none;}
#news .block__nav-bottom {display: block;}
}



/*** Товары на главной ***/
.pdt {height: 1026px;overflow: hidden;}
.pdt [id^="pdt__"] {display: none;position: relative;}
.pdt [id^="pdt__"].active {display: block;}
.pdt .owl-nav {display: none;}
.pdt .owl-nav.active {display: block;}
.pdt__left {width: calc(100% - 300px);padding-right: 1rem;}
.pdt__right {width: 300px;padding-left: 1rem;}
.pdt__title a {padding: 1rem;font-size: 18px;line-height: 24px;color: #FFFFFF;background-color: #df5642;display: block;text-align: center;}
.pdt .owl-carousel {display: flex;overflow: hidden;}
.pdt .product__item {width: 100%;}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
.pdt {height: 966px;}
.pdt .nav__tabs {width: 100%;}
.pdt__left {width: 50%;}
.pdt__right {width: 50%;}
}
@media (max-width: 479.98px) {
.pdt {height: auto;}
.pdt .block__nav .owl-nav.active {display: none;}
.pdt__left {width: 100%;padding: 0;}
.pdt__right {width: 100%;padding: 0;margin-top: 2rem;}
.pdt__title a {padding: .75rem;}
}

/** Распродажа **/
.pdt #pdt__sales {display: block;background-color: #fff4f2;padding: 2rem 0 1rem;}
#pdt__sales .product__price {border: 0;padding: 0;}
#pdt__sales .product__name {height: 40px;}
#pdt__sales .product__items .product__item + .product__item {margin-top: 3rem;}
/* Счетчик акции */
.product__counter {width: 200px;margin: 0 auto;padding: .5rem;color: #ffffff;background-color: #ffaf88;display: flex;align-items: center;justify-content: center;}
.product__counter label {display: none;}
.product__counter > div:after {content: ':';display: inline-block;margin: 0 .5rem 0 .25rem;}
.product__counter > div:last-child:after {display: none;}
/* Вывод по 2 товара в каруселе */
.product__items .product__item + .product__item {margin-top: 2rem;}
