/*** Слайдшоу ***/
#slideshow {
	height: 32rem;
	overflow: hidden;
	position: relative;
}

/* Слайдер */
.slider.owl-carousel.owl-loaded {
	display: flex;
}

.slider.owl-carousel {
	width: calc(100% - 24.5rem);
	justify-content: center;
}

.slider__item {
	height: 32rem;
	border-radius: 1.5rem;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
}

.slider__content {
	height: 100%;
	padding: 2.5rem;
	text-align: right;
	position: relative;
	z-index: 2;
}

.slider__button {
	text-transform: uppercase;
}

.slider__title {
	margin-top: 1rem;
	color: #ffffff;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.slider__subtitle {
	margin-top: .5rem;
	color: #ffffff;
	font-size: 1.25rem;
}

/* Слайдер. Баннеры */
.slider__banners {
	width: 22.5rem;
	margin-left: 2rem;
}

.slider__banner {
	height: 15rem;
	border-radius: 1.5rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.slider__banner + .slider__banner {
	margin-top: 2rem;
}

.slider__banner .slider__content {
	padding: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.slider__banner .slider__title {
	font-size: 1.25rem;
	text-transform: none;
}

.slider__banner .slider__button {
	padding: 0 1.5rem;
	font-size: .825rem;
	font-weight: 600;
}

/* Слайдер. Навигация */
#slideshow .owl-dots {
	bottom: 2.5rem;
	padding: .5rem 1rem;
	background-color: #ffffff;
	border-radius: 1.5rem;
	display: inline-block;
	position: absolute;
}

#slideshow .owl-nav {
	width: auto;
	background-color: transparent;
	position: unset;
}

#slideshow .owl-nav:before {
	display: none;
}

#slideshow .owl-nav [class^="owl-"] {
	color: #d2d9cd;
	background-color: #f0f7f5;
	width: 2rem;
	height: 3.75rem;
	top: calc(50% - 3.75rem / 2);
	position: absolute;
}

#slideshow .owl-nav [class^="owl-"]:hover {
	color: #6aa344;
}

#slideshow .owl-prev {
	border-radius: 0 2rem 2rem 0;
}

#slideshow .owl-prev:before {
	margin-right: .75rem;
}

#slideshow .owl-next {
	border-radius: 2rem 0 0 2rem;
}

#slideshow .owl-next:before {
	margin-left: .75rem;
}

@media (max-width: 1199.98px) {
	#slideshow {
		height: 49rem;
	}

	.slider.owl-carousel {
		width: 100%;
	}

	.slider__banners {
		width: 100%;
		margin: 2rem 0 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.slider__banner {
		width: calc(50% - 1rem);
	}

	.slider__banner + .slider__banner {
		margin-top: 0;
	}
}

@media (max-width: 991.98px) {
	.slider__banner .slider__title {
		font-size: 1rem;
	}
}

@media (max-width: 767.98px) {
	.slider__banner {
		width: 100%;
		height: 12.5rem;
	}

	.slider__banner + .slider__banner {
		margin-top: 2rem;
	}

	.slider__item {
		height: 20rem;
	}
}

@media (max-width: 639.98px) {
}

@media (max-width: 479.98px) {
	.slider__content {
		padding: 1rem 2.5rem;
	}

	.slider__title {
		font-size: 1.5rem;
	}

	.slider__subtitle {
		font-size: .875rem;
	}

	#slideshow .owl-dots {
		bottom: 2rem;
	}
}

@media (max-width: 374.98px) {
}

/*** Популярное ***/
.popular__items {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.popular__item {
	/*width: calc(33.333333% - 2rem);*/
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	position: relative;
}

.popular__title {
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	bottom: 1rem;
	transition: all 0.3s ease;
}

.popular__item:hover .popular__title {
	font-size: 1.5rem;
}

.popular__image {
	height: 18rem;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popular__image img {
	border-radius: 1.5rem;
}

#popular .owl-dots {
	margin-top: 1rem;
}

@media (max-width: 1199.98px) {
	.popular__image {
		height: 15rem;
	}
}

@media (max-width: 991.98px) {
	.popular__image {
		height: 11rem;
	}
}
@media (max-width: 767.98px) {
	.popular__image {
		height: 16rem;
	}
}
@media (max-width: 639.98px) {
	.popular__image {
		height: 12rem;
	}
}
@media (max-width: 539.98px) {
	.popular__image {
		height: auto;
	}
}

/*** Баннеры ***/
.banners__items {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.banners__item {
	width: calc(50% - 2rem);
	margin: 0 1rem;
	height: 15rem;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 1.5rem;
}

.banners__content {
	color: #ffffff;
	height: 100%;
	padding: 1.25rem;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.banners__title {
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.banners__title:hover {
	color: #ffbb3e;
}

.banners__subtitle {
	margin-top: .5rem;
	font-size: 1.25rem;
}

.banners__price {
	width: 6rem;
	height: 6rem;
	background-color: #ffbb3e;
	border-radius: 100%;
	top: 1.25rem;
	right: 1.25rem;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.banners__price .price__old {
	margin-bottom: .25rem;
}

@media (max-width: 991.98px) {
	.banners__title {
		font-size: 1rem;
	}

	.banners__subtitle {
		font-size: .825rem;
	}
}

@media (max-width: 767.98px) {
	.banners__item {
		width: 100%;
	}

	.banners__item + .banners__item {
		margin-top: 2rem;
	}
}


/*** Описание на главной ***/
.index__content {
	padding: 2rem;
	background-color: #ffffff;
	border-radius: 1.5rem;
}

.index__content h1 {
	font-size: 1.75rem;
}

@media (max-width: 479.98px) {
	.index__content {
		padding: 1rem;
	}
}


/*** Преимущества ***/
.advantages__items {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.advantages__item {
	width: 100%;
	margin-top: 4rem;
	position: relative;
}

.advantages__content {
	padding: 3rem 1rem 1.5rem 1rem;
	background-color: #ffffff;
	border-radius: 1.5rem;
	text-align: right;
}

.advantages__title {
	font-size: 1.25rem;
	font-weight: bold;
}

.advantages__subtitle {
	margin-top: .75rem;
}

.advantages__icon {
	font-size: 3.5rem;
	color: #ffffff;
	background-color: #6aa344;
	border-radius: 50%;
	width: 6rem;
	height: 6rem;
	position: absolute;
	left: 1rem;
	top: -3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

#advantages .owl-dots {
	margin-top: 1rem;
}


/*** Возникли вопросы? ***/
.callback__index .inner {
	padding: 2rem;
	background-color: #ffbb3e;
	border-radius: 1.5rem;
	align-items: center;
}

.callback__index .callback__icon {
	width: 10rem;
}

.callback__index .callback__icon i {
	color: #ffdd9f;
	font-size: 7.5rem;
	transform: rotate(45deg);
	display: inline-block;
}

.callback__index .callback__content {
	width: calc(100% - 10rem);
	color: #ffffff;
}

.callback__index .callback__title {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.callback__index .callback__subtitle {
	margin-bottom: 1rem;
	font-weight: 600;
}

.callback__index .form__button {
	padding: 0 3rem;
	top: .25rem;
	right: .25rem;
	height: 3rem;
	position: absolute;
}

.callback__index .form__button i {
	display: none;
}

.callback__index input {
	height: 3.5rem;
	border-radius: 1.5rem;
	border: 0;
	padding: 0 15rem 0 2rem;
}

.callback__index .form__pp {
	text-align: right;
}

.callback__index .form__pp a {
	color: #ffffff;
}

@media (max-width: 767.98px) {
	.callback__index .form__button {
		padding: 0 1.5rem;
	}

	.callback__index input {
		padding-right: 12rem;
	}
}

@media (max-width: 639.98px) {
	.callback__index .callback__icon {
		display: none;
	}

	.callback__index .callback__content {
		width: 100%;
	}
}

@media (max-width: 479.98px) {
	.callback__index input {
		padding: 0 3.25rem 0 2rem;
	}

	.callback__index .form__button span {
		display: none;
	}

	.callback__index .form__button i {
		display: block;
	}

	.callback__index .inner {
		padding: 1rem;
	}

	.callback__index .form__button {
		padding: 0 1rem;
	}
}

/*** Подпишитесь ***/
#subscribe .inner {
	background-color: #6aa344;
}

#subscribe .callback__icon i {
	color: #b5d1a2;
	transform: rotate(0);
}


/*** Товары на главной ***/
#pdt__sales .pdt__sales-bg {
	padding: 3rem;
	border-radius: 2rem;
	background-repeat: no-repeat;
	background-size: cover;
}

#pdt__sales .product__item {
	margin: 0;
}

#pdt__sales .product__item form {
	padding: 1.25rem;
	display: flex;
	flex-wrap: wrap;
}

#pdt__sales .product__image {
	margin: 0;
}

#pdt__sales .product__shop {
	width: calc(100% - 16.25rem - 6.25rem);
	padding: 0 2rem;
	text-align: left;
}

#pdt__sales .product__price-addto {
	max-width: 10rem;
	padding: 0 2rem;
}

#pdt__sales .product__inner {
	display: flex;
	flex-wrap: wrap;
}

#pdt__sales .product__links {
	position: relative;
	width: auto;
	bottom: auto;
}

#pdt__sales .product__price {
	margin: 0 1rem 0 0;
}

#pdt__sales .product__name {
	margin-bottom: 1rem;
	font-weight: 600;
	height: auto;
}

#pdt__sales .product__desc {
	margin-bottom: 1rem;
	font-size: .875rem;
	line-height: 1.25rem;
	max-height: 5rem;
	overflow: hidden;
}

/* Счетчик акции */
.product__counter {
	max-width: 22rem;
	margin-bottom: 1.5rem;
	padding: .75rem;
	font-weight: bold;
	color: #ffffff;
	background-color: #db5c77;
	border-radius: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product__counter label {
	text-transform: uppercase;
}

.product__counter > div:after {
	content: ':';
	display: inline-block;
	margin: 0 .75rem 0 .5rem;
}

.product__counter > div:last-child:after {
	display: none;
}

.product__counter i {
	font-size: 1.75rem;
	margin-right: 1rem;
}

@media (max-width: 991.98px) {
	#pdt__sales .product__shop {
		width: calc(100% - 13rem);
		padding: 0 0 0 1rem;
	}

	#pdt__sales .product__price {
		height: auto;
	}

	#pdt__sales .product__price-addto {
		padding: 1rem 2rem;
	}
}

@media (max-width: 767.98px) {
	#pdt__sales .product__image {
		width: 100%;
		text-align: center;
	}

	#pdt__sales .product__shop {
		width: 100%;
		padding: 2rem 0 0 0;
	}

	.product__counter {
		max-width: 100%;
	}
}

@media (max-width: 639.98px) {
	#pdt__sales .product__desc {
		margin-bottom: 0;
	}

	#pdt__sales .product__price,
	#pdt__sales .product__links {
		margin-top: 1rem;
	}
}

@media (max-width: 479.98px) {
	#pdt__sales .pdt__sales-bg {
		padding: 0;
		background: #ffffff !important;
	}

	#pdt__sales .product__item form {
		padding-top: 6rem;
	}

	#pdt__sales .product__item form {
		border: 0;
	}

	.product__counter {
		position: absolute;
		top: 1rem;
		left: 1rem;
		width: calc(100% - 2rem);
		font-size: .75rem;
	}

	.product__counter > div:after {
		margin: 0 .5rem 0 .25rem;
	}
}


/* Навигация в распродаже доп. изображений */
.product__thumblist {
	width: 6.25rem;
}

.product__thumblist-items {
	margin: 1rem 0;
}

.product__thumblist-item {
	width: 6.25rem;
	height: 6.25rem;
	border: 1px solid #d2d9cd;
	border-radius: 1.5rem;
	display: none;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.product__thumblist-item.show {
	display: flex;
}

.product__thumblist-item + .product__thumblist-item {
	margin-top: 1rem;
}

.product__thumblist-item:hover {
	border-color: #6aa344;
}

.product__thumblist-item img {
	border-radius: 1.5rem;
}

.product__thumblist-nav {
	text-align: center;
}

.product__thumblist-nav:hover {
	color: #6aa344;
	cursor: pointer;
}

@media (max-width: 991.98px) {
	.product__thumblist {
		display: none;
	}
}

/*** Новости ***/
#news .owl-carousel .owl-stage {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.news__item {
	height: 100%;
	padding: 3rem 0 1.5rem;
}

.news__inner {
	height: 100%;
	padding: 4rem 2rem 3rem;
	border: 1px solid #d2d9cd;
	border-radius: 1.5rem;
	background-color: #ffffff;
	transition: all 0.3s ease;
	position: relative;
}

.news__item:hover {
	border-color: #6aa344;
}

.news__image {
	margin-bottom: 1rem;
	height: 18.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.news__date {
	width: 6rem;
	height: 6rem;
	color: #ffffff;
	background-color: #ffbb3e;
	border-radius: 100%;
	top: -3rem;
	right: 1rem;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 2;
	transition: all 0.3s ease;
}

.news__item:hover .news__date {
	background-color: #6aa344;
}

.news__date .day {
	font-size: 1.5rem;
	font-weight: bold;
}

.news__date .month {
	font-size: .875rem;
	text-transform: lowercase;
}

.news__title {
	font-size: 1.25rem;
	font-weight: bold;
	max-height: 3.25rem;
	overflow: hidden;
	display: block;
	text-align: center;
	text-transform: uppercase;
}

.news__text {
	margin-top: 1rem;
	max-height: 3.75rem;
	overflow: hidden;
	text-align: center;
}

.news__buttons {
	bottom: -1.5rem;
	position: absolute;
	width: calc(100% - 4rem);
	text-align: center;
}

@media (max-width: 1199.98px) {
	.news__image {
		height: 14rem;
	}
}

@media (max-width: 991.98px) {
	.news__inner {
		padding: 4rem 1rem 3rem;
	}
	.news__image {
		height: 11.25rem;
	}
	.news__buttons {
		width: calc(100% - 2rem);
	}
}

@media (max-width: 767.98px) {
	.news__image {
		height: 16rem;
	}
}

@media (max-width: 479.98px) {
	#news .owl-carousel .owl-stage {
		align-items: flex-start;
	}
}